@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";


@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1F2937;
  --color-secondary: #94A3B8;
}


@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
}

@plugin "daisyui/theme" {
  name: "dark";
    default: true;
    --color-primary: #7BAFC8;
    --color-secondary: white;
  }